annotated-types==0.7.0
contourpy==1.2.1
cycler==0.12.1
deap==1.4.1
fonttools==4.53.1
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.2
multimethod==1.10
mypy-extensions==1.0.0
networkx==3.3
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pandera==0.19.3
pillow==10.4.0
pydantic==2.7.2
pydantic_core==2.18.3
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.1
setuptools==69.0.3
six==1.16.0
somoclu==1.7.6
threadpoolctl==3.5.0
typeguard==4.3.0
typing-inspect==0.9.0
typing_extensions==4.12.1
tzdata==2024.1
wheel==0.42.0
wrapt==1.16.0
